html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* cutome style*/
.profilePicture{
    width:250px;
    height:250px;
    object-fit:cover;
}

.form2File::before {
    content: "choose Picture...";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 80px;
}